
<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <p style="color: red;"><%= error %></p>
  <% end %>
<% end %>

<%= form_for @snack do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>
  <%= f.label :flavor_profile %>
  <%= f.text_field :flavor_profile %>
  <br>
  <%= f.label :brand %>
  <%= f.text_field :brand %>
  
  <%= f.submit %>
<% end %>